<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	@author BaoBB
-->
 <mapper namespace="Department">
	<resultMap type="department" id="departmentMap">
		<id property="id" column="id"/>
		<result property="tourguide" column="tourguide"/>
		<result property="address" column="address"/>
	</resultMap>
	<select id="selectList" parameterType="department" resultType="department">
		<![CDATA[
			SELECT * FROM department
		]]>
	</select>
	<select id="selectOne" parameterType="department" resultType="department">
		<![CDATA[
			SELECT * FROM department
			WHERE id = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="department">
		INSERT INTO department (tourguide, address) 
		VALUES (#{tourguide}, #{address})	
	</insert>
	<update id="update" parameterType="department">
		UPDATE department SET tourguide=#{tourguide}, address=#{address} 
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="department">
		DELETE FROM department WHERE id=#{id}
	</delete>
</mapper>