<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	@author BaoBB
-->
<mapper namespace="Province">
	<resultMap type="province" id="provinceMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>
	<select id="selectList" parameterType="province" resultType="province">
		<![CDATA[
			SELECT * 
			FROM province 
		]]>
	</select>
	<select id="selectOne" parameterType="province" resultType="province">
		<![CDATA[
			SELECT * 
			FROM province 
			WHERE id=#{id}
		]]>
	</select>
</mapper>