<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tour">

	<resultMap type="tour" id="tourMap">
		<id property="id" column="t_id" />
		<result property="name" column="t_name" />
		<result property="price" column="t_price" />
		<result property="min_amount" column="t_min_amount" />
		<result property="max_amount" column="t_max_amount" />
		<result property="start_day" column="t_start_day" />
		<result property="end_day" column="t_end_day" />
		<result property="content" column="t_content" />
		<result property="note" column="t_note" />
		<result property="image" column="t_image" />
		<association property="department" javaType="department">
			<id property="id" column="d_id" />
			<result property="tourguide" column="d_tourguide" />
			<result property="address" column="d_address" />
		</association>
		<association property="hotel" javaType="hotel">
			<id property="id" column="h_id" />
			<result property="type" column="h_type" />
			<result property="name" column="h_name" />
			<result property="address" column="h_address" />
			<result property="image" column="h_image" />
		</association>
		<association property="vehicle" javaType="vehicle">
			<id property="id" column="v_id" />
			<result property="name" column="v_name" />
		</association>
		<association property="cattour" javaType="cattour">
			<id property="id" column="ct_id" />
			<result property="name" column="ct_name" />
		</association>
		<collection property="place" javaType="ArrayList"
			resultMap="placeMap">

		</collection>
		<collection property="discount" javaType="ArrayList"
			resultMap="discountMap">

		</collection>
		<collection property="tourplace" javaType="ArrayList"
			ofType="tourplace">
			<id property="id" column="tp_id" />
			<association property="place" javaType="place"
				resultMap="placeMap">

			</association>
			<association property="tour" javaType="tour">
				<id property="id" column="td_tour_id" />
			</association>

		</collection>
		<collection property="tourdiscount" javaType="ArrayList"
			ofType="tourdiscount">
			<id property="id" column="td_id" />
			<association property="tour" javaType="tour">
				<id property="id" column="td_tour_id" />
			</association>
			<association property="discount" resultMap="discountMap">

			</association>
		</collection>

	</resultMap>
	<resultMap type="place" id="placeMap">
		<id property="id" column="p_id" />
		<result property="name" column="p_name" />
		<result property="address" column="p_address" />
		<result property="image" column="p_image" />
		<result property="description" column="p_description" />
		<association property="province" javaType="province">
			<id property="id" column="pro_id" />
			<result property="name" column="pro_name" />
		</association>
	</resultMap>
	<resultMap type="discount" id="discountMap">
		<id property="id" column="dc_id" />
		<result property="name" column="dc_name" />
		<result property="scope" column="dc_scope" />
		<result property="start_day" column="dc_start_day" />
		<result property="end_day" column="dc_end_day" />
	</resultMap>
	<resultMap type="tour" id="tourMaxID">
		<id property="id" column="id" />
	</resultMap>
	<insert id="insert" parameterType="tour">
		INSERT INTO
		tour(name,price,min_amount,max_amount,start_day,end_day,location_go,cattour_id,content,note,hotel_id,vehicle_id,image)
		VALUES(#{name},#{price},#{min_amount},#{max_amount},#{start_day},#{end_day},#{department.id},#{cattour.id},#{content},#{note},#{hotel.id},#{vehicle.id},#{image})
	</insert>


	<select id="getListCart" resultType="cattour">
		SELECT * FROM cat_tour
	</select>

	<select id="getList" parameterType="tour" resultMap="tourMap">

			SELECT t.id AS t_id,t.name AS t_name,t.price AS t_price,t.min_amount AS
					t_min_amount,t.max_amount AS t_max_amount ,t.start_day AS
					t_start_day,t.end_day AS t_end_day,t.location_go AS
					t_location_go,t.cattour_id AS t_cattour_id,t.content AS t_content
					,t.note AS t_note,t.hotel_id AS t_hotel_id ,t.image AS t_image,
					h.id AS
					h_id,h.type AS h_type,h.name AS h_name ,h.image AS h_image,h.address
					AS h_address,
					v.id AS v_id,v.name AS v_name,
					ct.id AS ct_id,ct.name AS
					ct_name,
					d.id AS d_id,d.tourguide AS d_tourguide,d.address AS
					d_address,
					td.id AS td_id,td.tour_id AS td_tour_id,td.discount_id AS
					td_discout_id,
					dc.id AS dc_id,dc.name AS dc_name,dc.scope AS
					dc_scope,dc.start_day AS dc_start_day,dc.end_day AS dc_end_day,
					tp.id
					AS tp_id,tp.place_id AS tp_place_id,tp.tour_id AS td_tour_id,
					p.id AS
					p_id, p.name AS p_name,p.province_id AS p_province,p.address AS
					p_address,p.image AS p_image,p.description AS p_description,
					pro.id AS
					pro_id ,pro.name AS pro_name
			FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
						LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
						LEFT OUTER JOIN cat_tour ct ON t.cattour_id = ct.id
						LEFT OUTER JOIN department d ON t.location_go = d.id
						LEFT OUTER JOIN tour_discount td ON t.id = td.tour_id
						LEFT OUTER JOIN discount dc ON td.discount_id = dc.id
						LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
						LEFT OUTER JOIN place p ON tp.place_id = p.id
						LEFT OUTER JOIN province pro ON p.province_id = pro.id
			ORDER BY  t.start_day asc

	</select>
	<select id="selectOne" parameterType="tour" resultMap="tourMap">
		SELECT
		t.id AS t_id,t.name AS t_name,t.price AS t_price,t.min_amount AS
		t_min_amount,t.max_amount AS t_max_amount ,t.start_day AS
		t_start_day,t.end_day AS t_end_day,t.location_go AS
		t_location_go,t.cattour_id AS t_cattour_id,t.content AS t_content
		,t.note AS t_note,t.hotel_id AS t_hotel_id ,t.image AS t_image,
		h.id AS
		h_id,h.type AS h_type,h.name AS h_name ,h.image AS h_image,h.address
		AS h_address,
		v.id AS v_id,v.name AS v_name,
		ct.id AS ct_id,ct.name AS
		ct_name,
		d.id AS d_id,d.tourguide AS d_tourguide,d.address AS
		d_address,
		td.id AS td_id,td.tour_id AS td_tour_id,td.discount_id AS
		td_discout_id,
		dc.id AS dc_id,dc.name AS dc_name,dc.scope AS
		dc_scope,dc.start_day AS dc_start_day,dc.end_day AS dc_end_day,
		tp.id
		AS tp_id,tp.place_id AS tp_place_id,tp.tour_id AS td_tour_id,
		p.id AS
		p_id, p.name AS p_name,p.province_id AS p_province,p.address AS
		p_address,p.image AS p_image,p.description AS p_description,
		pro.id AS
		pro_id ,pro.name AS pro_name
		FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
		LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
		LEFT OUTER JOIN cat_tour ct ON t.cattour_id = ct.id
		LEFT OUTER JOIN department d ON t.location_go = d.id
		LEFT OUTER JOIN tour_discount td ON t.id = td.tour_id
		LEFT OUTER JOIN discount dc ON td.discount_id = dc.id
		LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
		LEFT OUTER JOIN place p ON tp.place_id = p.id
		LEFT OUTER JOIN province pro ON p.province_id = pro.id WHERE t.id
		=#{id}
	</select>
	<select id="selectTourId" parameterType="tour"
		resultMap="tourMap">
		SELECT MAX(t.id) AS t_id
		FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
		LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
		LEFT OUTER JOIN cat_tour ct ON t.cattour_id = ct.id
		LEFT OUTER JOIN department d ON t.location_go = d.id
		LEFT OUTER JOIN tour_discount td ON t.id = td.tour_id
		LEFT OUTER JOIN discount dc ON td.discount_id = dc.id
		LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
		LEFT OUTER JOIN place p ON tp.place_id = p.id
		LEFT OUTER JOIN province pro ON p.province_id = pro.id
	</select>
	
	<update id="update" parameterType="tour">
		UPDATE tour  
		SET 
		NAME=#{name},
		price=#{price},
		min_amount=#{min_amount},
		max_amount=#{max_amount},
		start_day=#{start_day},
		end_day=#{end_day},
		location_go=#{department.id},
		cattour_id=#{cattour.id},
		content=#{content},
		note=#{note},
		hotel_id=#{hotel.id},
		vehicle_id=#{vehicle.id},
		image=#{image} WHERE id=#{id}
	</update>
	
	<delete id = "delete" parameterType = "tour">
      DELETE from tour WHERE ID = #{id};
   </delete>
   <select id="getSearchTourByTest" resultMap="tourMap" parameterType="HashMap">
   		SELECT	 t.id AS t_id,t.name AS t_name,t.price AS t_price,t.min_amount AS
			t_min_amount,t.max_amount AS t_max_amount ,t.start_day AS
			t_start_day,t.end_day AS t_end_day,t.location_go AS
			t_location_go,t.cattour_id AS t_cattour_id,t.content AS t_content
			,t.note AS t_note,t.hotel_id AS t_hotel_id ,t.image AS t_image ,
			h.id AS	h_id,h.type AS h_type,h.name AS h_name ,h.image AS h_image,h.address
			AS h_address,
			v.id AS v_id,v.name AS v_name,
			tp.id AS tp_id,tp.place_id AS tp_place_id,tp.tour_id AS td_tour_id,
			p.id AS	p_id, p.name AS p_name,p.province_id AS p_province,p.address AS
			p_address,p.image AS p_image,p.description AS p_description,
			pro.id AS	pro_id ,pro.name AS pro_name
		FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
					LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
					LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
					LEFT OUTER JOIN place p ON tp.place_id = p.id
					LEFT OUTER JOIN province pro ON p.province_id = pro.id
		WHERE (t.vehicle_id = #{vehicle_id} or t.cattour_id=#{cattour_id} or 
				t.location_go=#{department_id} or t.hotel_id=#{hotel_id} or pro.id = #{pro_id}
				or (t.price BETWEEN #{price1} AND #{price2}) or t.start_day=#{start_day})
				and t.start_day > NOW()
		ORDER BY  t.start_day asc
   </select>
   
   <select id="getListTourLimit" resultMap="tourMap">

			SELECT t.id AS t_id,t.name AS t_name,t.price AS t_price,t.min_amount AS
					t_min_amount,t.max_amount AS t_max_amount ,t.start_day AS
					t_start_day,t.end_day AS t_end_day,t.location_go AS
					t_location_go,t.cattour_id AS t_cattour_id,t.content AS t_content
					,t.note AS t_note,t.hotel_id AS t_hotel_id ,t.image AS t_image,
					h.id AS
					h_id,h.type AS h_type,h.name AS h_name ,h.image AS h_image,h.address
					AS h_address,
					v.id AS v_id,v.name AS v_name,
					ct.id AS ct_id,ct.name AS
					ct_name,
					d.id AS d_id,d.tourguide AS d_tourguide,d.address AS
					d_address,
					td.id AS td_id,td.tour_id AS td_tour_id,td.discount_id AS
					td_discout_id,
					dc.id AS dc_id,dc.name AS dc_name,dc.scope AS
					dc_scope,dc.start_day AS dc_start_day,dc.end_day AS dc_end_day,
					tp.id
					AS tp_id,tp.place_id AS tp_place_id,tp.tour_id AS td_tour_id,
					p.id AS
					p_id, p.name AS p_name,p.province_id AS p_province,p.address AS
					p_address,p.image AS p_image,p.description AS p_description,
					pro.id AS
					pro_id ,pro.name AS pro_name
			FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
						LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
						LEFT OUTER JOIN cat_tour ct ON t.cattour_id = ct.id
						LEFT OUTER JOIN department d ON t.location_go = d.id
						LEFT OUTER JOIN tour_discount td ON t.id = td.tour_id
						LEFT OUTER JOIN discount dc ON td.discount_id = dc.id
						LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
						LEFT OUTER JOIN place p ON tp.place_id = p.id
						LEFT OUTER JOIN province pro ON p.province_id = pro.id
			WHERE t.start_day > NOW()
			ORDER BY  t.start_day asc
			 LIMIT 4

	</select>
	
	<select id="getListTourReal" resultMap="tourMap">

			SELECT t.id AS t_id,t.name AS t_name,t.price AS t_price,t.min_amount AS
					t_min_amount,t.max_amount AS t_max_amount ,t.start_day AS
					t_start_day,t.end_day AS t_end_day,t.location_go AS
					t_location_go,t.cattour_id AS t_cattour_id,t.content AS t_content
					,t.note AS t_note,t.hotel_id AS t_hotel_id ,t.image AS t_image,
					h.id AS
					h_id,h.type AS h_type,h.name AS h_name ,h.image AS h_image,h.address
					AS h_address,
					v.id AS v_id,v.name AS v_name,
					ct.id AS ct_id,ct.name AS
					ct_name,
					d.id AS d_id,d.tourguide AS d_tourguide,d.address AS
					d_address,
					td.id AS td_id,td.tour_id AS td_tour_id,td.discount_id AS
					td_discout_id,
					dc.id AS dc_id,dc.name AS dc_name,dc.scope AS
					dc_scope,dc.start_day AS dc_start_day,dc.end_day AS dc_end_day,
					tp.id
					AS tp_id,tp.place_id AS tp_place_id,tp.tour_id AS td_tour_id,
					p.id AS
					p_id, p.name AS p_name,p.province_id AS p_province,p.address AS
					p_address,p.image AS p_image,p.description AS p_description,
					pro.id AS
					pro_id ,pro.name AS pro_name
			FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
						LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
						LEFT OUTER JOIN cat_tour ct ON t.cattour_id = ct.id
						LEFT OUTER JOIN department d ON t.location_go = d.id
						LEFT OUTER JOIN tour_discount td ON t.id = td.tour_id
						LEFT OUTER JOIN discount dc ON td.discount_id = dc.id
						LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
						LEFT OUTER JOIN place p ON tp.place_id = p.id
						LEFT OUTER JOIN province pro ON p.province_id = pro.id
			WHERE t.start_day > NOW()
			ORDER BY  t.start_day asc

	</select>
	
	<select id="getListTourByDiscount" resultMap="tourMap">

			SELECT t.id AS t_id,t.name AS t_name,t.price AS t_price,t.min_amount AS
					t_min_amount,t.max_amount AS t_max_amount ,t.start_day AS
					t_start_day,t.end_day AS t_end_day,t.location_go AS
					t_location_go,t.cattour_id AS t_cattour_id,t.content AS t_content
					,t.note AS t_note,t.hotel_id AS t_hotel_id ,t.image AS t_image,
					h.id AS
					h_id,h.type AS h_type,h.name AS h_name ,h.image AS h_image,h.address
					AS h_address,
					v.id AS v_id,v.name AS v_name,
					ct.id AS ct_id,ct.name AS
					ct_name,
					d.id AS d_id,d.tourguide AS d_tourguide,d.address AS
					d_address,
					td.id AS td_id,td.tour_id AS td_tour_id,td.discount_id AS
					td_discout_id,
					dc.id AS dc_id,dc.name AS dc_name,dc.scope AS
					dc_scope,dc.start_day AS dc_start_day,dc.end_day AS dc_end_day,
					tp.id
					AS tp_id,tp.place_id AS tp_place_id,tp.tour_id AS td_tour_id,
					p.id AS
					p_id, p.name AS p_name,p.province_id AS p_province,p.address AS
					p_address,p.image AS p_image,p.description AS p_description,
					pro.id AS
					pro_id ,pro.name AS pro_name
			FROM tour t LEFT OUTER JOIN hotel h ON t.hotel_id = h.id
						LEFT OUTER JOIN vehicle v ON t.vehicle_id = v.id
						LEFT OUTER JOIN cat_tour ct ON t.cattour_id = ct.id
						LEFT OUTER JOIN department d ON t.location_go = d.id
						LEFT OUTER JOIN tour_discount td ON t.id = td.tour_id
						LEFT OUTER JOIN discount dc ON td.discount_id = dc.id
						LEFT OUTER JOIN tour_place tp ON t.id = tp.tour_id
						LEFT OUTER JOIN place p ON tp.place_id = p.id
						LEFT OUTER JOIN province pro ON p.province_id = pro.id
			WHERE t.start_day > NOW() AND td.tour_id IN(SELECT id FROM tour)
					AND dc.end_day > NOW()
			ORDER BY t.id desc
			LIMIT 3

	</select>

</mapper>